footer {
	padding-top: 4rem;
	padding-bottom: 4px;

	img {
		width: 170px;
	}

	.footer_nav {
		list-style: none;
		padding-left: 0;

		li a {
			font-size: 15px;
			@include font-stack(primary);
			color: get-color(primary, base);
			line-height: 36px;

			transition: color get-speed(fast);

			&:hover {
				color: get-color(green, base);
				text-decoration: none;
			}
		}
	}

	.sm_item {
		background: get-color(lightgrey, base);
		border-radius: 50%;
		width: 40px;
		height: 40px;
		text-align: center;
		padding-top: 7px;
		float: left;
		display: inline-block;
		margin-right: 10px;
		margin-top: 20px;
		transition: background get-speed(fast);

		&:hover {
			background: get-color(green, base);
		}

		img {
			width: 13px;
		}
	}

	.copy {
		font-size: 14px;
		margin-top: 2rem;
		margin-bottom: 2rem;

		@include respond-down(sm) {
			padding-left: 25px;
		}
	}
}