.hiw {
	padding-top: 4rem;
	padding-bottom: 4rem;

	text-align: center;

	position: relative;

	.row {
		margin-bottom: 3rem;
	}

	h4 {
		color: get-color(primary, base);
		@include font-size(kilo);
		@include font-stack(primary-black);

		margin-bottom: 2rem;

	}

	.ico_item {

		@include respond-down(sm) {
			display: inline-block;
			margin-bottom: 20px;
		}

		.content_wrapper {
			
			@include respond-down(sm) {
				text-align: left;
				width: 75%;
				float: right;
				padding-top: 6px;
			}
		}

	}

	.ico_wrapper {
		background: get-color( green, base);
		border-radius: 50%;
		text-align: center;
		width: 160px;
		height: 160px;
		padding-top: 30px;
		margin: auto;
		margin-bottom: 30px;

		@include respond-down(sm) {
			display: inline-block;
			background: transparent;
			width: 20%;
			height: auto;
			float: left;
			padding-top: 0;
			margin-bottom: 0;

			i {
				color: get-color(green, base);
				font-size: 45px;
			}
		}
	}

	i {
		color: white;
		font-size: 80px;
	}

	p {
		@include font-size(base);
		@include font-stack(primary);
		color: get-color(primary, base);
		span {
			@include font-stack(primary-medium);
			@include font-size(deca);
			padding-bottom: 2rem;
		}
	}
}

.runner {
	background: get-color(primary, base);
	padding-top: 8rem;
	padding-bottom: 8rem;

	@include respond-down(sm) {
		padding-top: 4rem;
		padding-bottom: 4rem;
		}

	text-align: center;

	.col-6 {
		@include respond-down(sm) {
			margin-bottom: 30px;
		}
	}

	h5 {
		@include font-size(giga);
		@include font-stack(primary-medium);
		color: white;
	}

	.green {
		color: get-color(green, base);
		@include font-stack(primary-medium);
		@include font-size(base);
	}

	p {
		@include font-size(base);
		@include font-stack(primary);
		color: white;
	}
}

.testimonials {

	text-align: center;
	padding-top: 6rem;
	padding-bottom: 6rem;

	@include respond-down(sm) {
		padding-top: 4rem;
		padding-bottom: 4rem;
	}


	h4 {
		color: get-color(primary, base);
		@include font-size(kilo);
		@include font-stack(primary-black);

		margin-bottom: 4rem;

	}

	.test_wrapper {

		.profile_image {
			border-radius: 50%;
			overflow: hidden;
			max-width: 180px;
			margin-bottom: 2rem;
			margin: 0 auto 3rem;
		}

		p.name {
			color: get-color(green, base);
			@include font-stack(primary-black);
			@include font-size(deca);
			margin-bottom: 2rem;
		}

		p {
			@include font-stack(primary);
			@include font-size(base);
			width: 80%;
			margin: 0 auto 2rem;
		}
	}
}

.cta {
	padding-top: 4rem;
	padding-bottom: 4rem;

	.cta_wrapper {
		text-align: center;
		padding-top: 4rem;
		padding-bottom: 4rem;
		-webkit-box-shadow: 0px 0px 31px 5px rgba(0,0,0,0.22);
		-moz-box-shadow: 0px 0px 31px 5px rgba(0,0,0,0.22);
		box-shadow: 0px 0px 31px 5px rgba(0,0,0,0.22);

		@include respond-down(sm) {
			width: 90%;
			margin: auto;
			padding: 30px;

			-webkit-box-shadow: 0px 0px 31px 5px rgba(0,0,0,0.12);
		-moz-box-shadow: 0px 0px 31px 5px rgba(0,0,0,0.12);
		box-shadow: 0px 0px 31px 5px rgba(0,0,0,0.12);
		}

		h3 {
			@include font-size(giga);
			@include font-stack(primary-black);
			color: get-color(primary, base);
			padding-bottom: 2rem;
		}
		p {
			@include font-size(hecto);
			color: get-color(primary, base);
			padding-bottom: 3rem;
		}
	}
}