.btn-lrg--primary {
	background: get-color(green, base);
	border-radius: 5px;
	border: 1px solid get-color(green, base);
	color: white;
	@include font-size(deci);
	@include font-stack(primary-medium);
	padding: 15px 45px;
	@include font-smoothing;

	background-size: 100% 200%;
	background-image: linear-gradient(to bottom, get-color(green, base) 50%, white 50%);
	transition: background-position get-speed(fast), color get-speed(fast);

	&:hover {
		border: 1px solid get-color(green, base);
		color: get-color(green, base);
		background-position: 0 -100%;
	}

}

.btn-lrg--grey {
	background: white;
	border-radius: 5px;
	color: get-color(blue, base);
	@include font-size(deci);
	@include font-stack(primary-medium);
	border: 1px solid white;
	padding: 15px 45px;
	@include font-smoothing;

	background-size: 100% 200%;
	background-image: linear-gradient(to bottom, white 50%, get-color(blue, base) 50%);
	transition: background-position get-speed(fast), color get-speed(fast), border-color get-speed(fast);

	&:hover {
		border-color: get-color(blue, base);
		color: white;
		background-position: 0 -100%;
	}
}

.btn-lrg--darkgrey {
	background: get-color(primary, base);
	border-radius: 5px;
	color: white;
	@include font-size(deci);
	@include font-stack(primary-medium);
	border-color: get-color(primary, base);
	border: 1px solid;
	padding: 15px 45px;
	@include font-smoothing;

	background-size: 100% 200%;
	background-image: linear-gradient(to bottom, get-color(primary, base) 50%, white 50%);
	transition: background-position get-speed(fast), color get-speed(fast), border-color get-speed(fast);

	&:hover {
		border-color: get-color(primary, base);
		color: get-color(primary, base);
		background-position: 0 -100%;
	}

	@include respond-down(sm) {
		background: get-color(green, base);
		border: none;
		color: white;
		width: 100%;
	}
}

.btn-xl-stroke {
	background: transparent;
	border-radius: 5px;
	color: get-color(primary, base);
	border: 2px solid get-color(primary, base);
	@include font-size(deci);
	@include font-stack(primary-medium);
	padding: 15px 75px;
	@include font-smoothing;

	background-size: 100% 200%;
	background-image: linear-gradient(to bottom, white 50%, get-color(primary, base) 50%);
	transition: background-position get-speed(fast), color get-speed(fast), border-color get-speed(fast);

	&:hover {
		border-color: get-color(primary, base);
		color: white;
		background-position: 0 -100%;
	}

	@include respond-down(sm) {
		width: 100%;
	}
}