.hero {
	background: get-color(primary, base);

	.container {
		position: relative;
	}

	.content_wrapper {
		width: 75%;
		float: left;
		padding-top: 6rem;
		padding-bottom: 6rem;

		@include respond-down(sm) {
			width: 99%;
		}
		
		h1 {
			@include font-size(giga);
			@include font-stack(primary-black);
			color: white;

			padding-bottom: 2rem;
		}

		p {
			color: white;
			@include font-size(hecto);
			@include font-stack(primary);
		}

	}

	.btn_wrapper {
		margin-top: 2rem;
	}

	.ass_image {
		position: absolute;
		top: 10%;
		right: 0;
	}
}