header {
	padding: 2rem;
	background: transparent;
	transition: width get-speed(slow), height get-speed(slow), background get-speed(slow);

	@include respond-down(sm) {
		padding: 1.2rem;
	}


	.container {
		overflow: hidden;
	}
	
	.brand {
		float: left;
		width: 25%;
		position: relative;

		.logo {
			width: 230px;
			height: 50px;
			background-image: url('../images/logo.png');
			background-size: contain;
			background-repeat: no-repeat;

			@include respond-down(sm) {
				width: 160px;
				height: 34px;
			}
		}

	}

	.nav {
		float: right;
		overflow: hidden;
		position: relative;
	}

	.main_menu {
		list-style: none;
		display: inline-block;

		position: absolute;
		right: -600px;
		margin-bottom: 0;
		
		li {
			float: left;
			margin-right: 30px;
			padding-top: 13px;

			a {
				color: get-color(primary, base);
				text-decoration: none;
				transition: color get-speed(fast);

				&:hover {
					color: get-color(green, base);
					text-decoration: none;
				}
			}
		}
	}

	.btn_ani {
		transition: opacity get-speed(fast);
		opacity: 1;
	}

	.expand_me {
		position: relative;
		right: 0;
		transition: right get-speed(slow);
	}

	.move_me {
		display: none;
	}

}

.nav-icon1 {
	width: 30px;
	height: 25px;
	margin-left: 40px;
	margin-top: 15px;
	-webkit-transform: rotate(0deg);
	-moz-transform: rotate(0deg);
	-o-transform: rotate(0deg);
	transform: rotate(0deg);
	-webkit-transition: .5s ease-in-out;
	-moz-transition: .5s ease-in-out;
	-o-transition: .5s ease-in-out;
	transition: .5s ease-in-out;
	cursor: pointer;

	@include respond-down(sm) {
		margin-top: 5px;
	}
}

.nav-icon1 span {
	display: block;
	position: absolute;
	height: 2px;
	width: 100%;
	background: get-color(primary, base);
	border-radius: 4px;
	opacity: 1;
	left: 0;
	-webkit-transform: rotate(0deg);
	-moz-transform: rotate(0deg);
	-o-transform: rotate(0deg);
	transform: rotate(0deg);
	-webkit-transition: .25s ease-in-out;
	-moz-transition: .25s ease-in-out;
	-o-transition: .25s ease-in-out;
	transition: .25s ease-in-out;
}

.change .nav-icon1 span {
	background: get-color(primary, base);
	transition: background get-speed(slow);
}

.nav-icon1 span:nth-child(1) {
	top: 0px;
}

.nav-icon1 span:nth-child(2) {
	top: 9px;
}

.nav-icon1 span:nth-child(3) {
	top: 18px;
}

.nav-icon1.open span:nth-child(1) {
	top: 12px;
	-webkit-transform: rotate(135deg);
	-moz-transform: rotate(135deg);
	-o-transform: rotate(135deg);
	transform: rotate(135deg);
}

.nav-icon1.open span:nth-child(2) {
	opacity: 0;
	left: -60px;
}

.nav-icon1.open span:nth-child(3) {
	top: 12px;
	-webkit-transform: rotate(-135deg);
	-moz-transform: rotate(-135deg);
	-o-transform: rotate(-135deg);
	transform: rotate(-135deg);
}