.slide {
	
	margin-top: 8rem;

	padding-top: 4rem;
	padding-bottom: 4rem;

	@include respond-down(sm) {
		margin-top: 0;
	}

	.slide_wrapper {
		position: relative;
		padding-bottom: 3rem;
		@include respond-down(sm) {
			text-align: center;
		}

		.img-front {
			position: relative;
			z-index: 99;
			top: 20%;
			left: 25%;
			width: 75%;

			@include respond-down(sm) {
				width: 100%;
				left: 0;
				top: 0;
			}

		}

		.img-back {
			position: absolute;
			z-index: 98;
			top: 0;
			left: 10px;
			width: 70%;
		}

		h2 {
			color: get-color(primary, base);
			@include font-size(kilo);
			@include font-stack(primary-black);
			display: flex;
			padding-top: 10px;

			@include respond-down(sm) {
				text-align: center;
				display: block;
			}

			img {
				width: 50px;
				height: 50px;
				margin-top: -10px;
				margin-right: 20px;
				@include respond-down(sm) {
					display: none;
				}
			}
		}

		h3 {
			color: get-color(green, base);
			@include font-size(hecto);
			@include font-stack(primary);
			padding-top: 2rem;
			@include respond-down(sm) {
				width: 80%;
				margin: auto;

			}
		}

		p {
			@include font-size(base);
			@include font-stack(primary);
			color: get-color(primary, base);
			line-height: 38px;
			width: 80%;
			padding-top: 2rem;
			padding-bottom: 2rem;

			@include respond-down(sm) {
				width: 100%;
				padding-left: 2rem;
				padding-right: 2rem;
			}
		}
	}

}

.slick-dots li button:before {
	font-size: 16px;
}

.test_slider {

	position: relative;
	
	i.left {
		position: absolute;
		left: 0;
		top: 45%;
		z-index: 999;
	}

	i.right {
		position: absolute;
		right: 0;
		top: 45%;
	}

	i {
		border: 1px solid get-color(primary, base);
		color: get-color(primary, base);
		width: 35px;
		height: 35px;
		padding-top: 6px;
		border-radius: 50%;
		transition: color get-speed(fast), border get-speed(fast);
	}

	i:hover {
		border: 1px solid get-color(green, base);
		color: get-color(green, base);
	}
}