/**
 * Headings
 *
 * Recommended:
 * h1, h2, h3, h4, h5, h6, hr
 */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
  margin: 0;
}

h1,
.tera {
  @include font-size(giga);
}

h2,
.giga {
  @include font-size(giga);
}

h3,
.mega {
  @include font-size(mega);
}

h4,
.kilo {
  @include font-size(kilo);
}

h5,
.hecto {
  @include font-size(hecto);
}

h6,
.deca {
  @include font-size(deca);
}

h1, h2, h3, h4, h5, h6, p, a, li, span {
	font-family: 'Poppins', sans-serif;
	@include font-smoothing;
}