/**
 * Colors
 *  Based off material color tool https://material.io/tools/color/#!/
 */
 $colors: (
 	primary: (
 		base: #3c3c3c,
 		),

 	green: (
 		base: #16eb84,
 		),
 	blue: (
 		base: #08233e,
 		),
 	lightgrey: (
 		base: #d3d4dc,
 		),

 	);
