/**
 * Font sizes
 *
 * Supports two tier map to include responsive breakpoint config.
 * Naming based on the metric prefix https://en.wikipedia.org/wiki/Metric_prefix
 */
$font-sizes: (
  nano: (
    base: (
      'font-size': 8px
    ),
    md: (
      'font-size': 10px
    )
  ),
  micro: (
    base: (
      'font-size': 9px
    ),
    md: (
      'font-size': 11px
    )
  ),
  milli: (
    base: (
      'font-size': 10px
    ),
    md: (
      'font-size': 12px
    )
  ),
  centi: (
    base: (
      'font-size': 11px
    ),
    md: (
      'font-size': 13px
    )
  ),
  deci: (
    base: (
      'font-size': 12px
    ),
    md: (
      'font-size': 14px
    )
  ),
  base: (
    base: (
      'font-size': 14px
    ),
    md: (
      'font-size': 16px
    )
  ),
  deca: (
    base: (
      'font-size': 16px
    ),
    md: (
      'font-size': 18px
    )
  ),
  hecto: (
    base: (
      'font-size': 18px
    ),
    md: (
      'font-size': 18px
    ),
    lg: (
      'font-size': 22px
    )
  ),
  kilo: (
    base: (
      'font-size': 30px
    ),
    md: (
      'font-size': 30px
    ),
    lg: (
      'font-size': 30px
    )
  ),
  mega: (
    base: (
      'font-size': 24px
    ),
    md: (
      'font-size': 28px
    ),
    lg: (
      'font-size': 34px
    )
  ),
  giga: (
    base: (
      'font-size': 40px
    ),
    md: (
      'font-size': 52px
    ),
    lg: (
      'font-size': 72px
    )
  )
);
