/**
 * Font stacks
 */
$font-stacks:
(
  primary: (
    'font-family': '"Poppins", sans-serif',
    'font-weight': '400'
  ),
  primary-medium: (
    'font-family': '"Poppins", sans-serif',
    'font-weight': '500'
  ),
  primary-black: (
    'font-family': '"Poppins", sans-serif',
    'font-weight': '700'
  )
);
