/**
 * Grid
 *
 * Bootstrap grid breakpoint and container max width values.
 * Defaults to the Bootstrap defaults.
 */
$grid-breakpoints: (
	xs: 0,
	sm: 544px,
	md: 768px,
	lg: 900px,
);

$container-max-widths: (
	sm: 576px,
	md: 720px,
	lg: 840px,
);



