@media (max-width: 667px) {
	.hide_mobile {
		display: none!important;
	}

	.custom_col_mobile {
		width: 100% !important;
		display: block;
		flex: auto;
		padding-left: 35px;
	}
}

@media (max-width: 768px) {
	.hide_tab {
		display: none!important;
	}
}

@media (min-width: 667px) {
	.hide_desktop {
		display: none;
	}
}

@media only screen and (min-device-width: 1024px) and (max-device-height: 1366px) and (-webkit-min-device-pixel-ratio: 2)  and (orientation: portrait)  {
	.hide_tab {
		display: none;
	}
}

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) { 
	.hide_tab {
		display: none;
	}
}

@media (max-width : 1200px) {
	.target_none {
		display: none;
	}
}

// targeting Mobile Menu
@media (max-width : 993px) {
	
	header .nav {
		float: none;
		width: 100%;
		margin-top: 0;
		position: absolute;
		top: 0;
		left: 0;
	}



	header .nav ul {
		list-style: none;
		display: block;
		position: relative;
		right: -100%;
		opacity: 1;
		margin-top: 0px;
		background: white;
		width: 100vw;
		text-align: center;
		width: 100%;
		right: 0!important;
		padding-top: 4rem;
		margin-top: 0!important;
		padding: 0;
		padding-top: 4rem;
		padding-bottom: 3rem;
		top: -400px;
		z-index: 99;
	}

	header .nav ul li {
		float: none;
		margin-right: 1.3rem;
		font-size: 12px;
		font-size: .75rem;
		width: 100%;
		margin-bottom: 10px;
	}

	.nav-icon1 {
		width: 30px;
		height: 25px;
		transition: .5s ease-in-out;
		cursor: pointer;
		right: 5%;
		top: 20px;
		position: absolute;
		z-index: 999;
	}

	.main_menu .btn-lrg--primary{
		margin-top: 3rem;
	}

	// header .nav ul li a {
	// 	color: get-color(blue, base);
	// }

	// .nav-icon1.open span {
	// 	background: get-color(blue, base);
	// }

	header .nav .expand_me {
		top: 0;
		transition: top get-speed(fast);
	}


}