@mixin button-scheme($color, $background) {
  &, &:active, &:focus, &:hover {
    color: $color;
    background: $background;
  }
  &:focus, &:hover {
    background: lighten($background, 5%);
  }
  &:active {
    background: darken($background, 4%);
  }
}
