/**
 * Loop through a map and output each key/value as CSS property/value
 *
 * @mixin parse-font-icon($map)
 * @params $map
 * @requires null
 */
@mixin parse-font-icon($map)
 {
   @each $prop, $value in $map {
     #{$prop}: #{$value};
   }
 }

@mixin font-icon($font-icon)
 {
   $map: map-get($font-icons, $font-icon);
   @include parse-font-icon($map);
 }

@mixin font-icon-ready {
  font-family: 'Direct Axis' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
