@mixin font-smoothing($enable: true)
{
	@if ($enable == false) {
		-webkit-font-smoothing: subpixel-antialiased;
	} @else {
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
	}
}
