/**
 * Loop through a map and get each key/value heights
 *
 * @params $map
 * @requires get-height
 */
@mixin make-height($structure)
{
  $map: map-get($structure-heights, $structure);
  height: get-height($structure, base);
  $map-breakpoints: map-remove($map, base);
  @each $breakpoint, $attr in $map-breakpoints {
    @include media-breakpoint-up($breakpoint) {
      height: get-height($structure, $breakpoint);
    }
  }
}
