@mixin make-bounds-left {
  @each $breakpoint, $attr in $grid-bounds {
    @include media-breakpoint-up($breakpoint) {
      margin-left: get-bound($breakpoint);
    }
  }
}

@mixin make-bounds-right {
  @each $breakpoint, $attr in $grid-bounds {
    @include media-breakpoint-up($breakpoint) {
      margin-right: get-bound($breakpoint);
    }
  }
  @include media-breakpoint-up(lg) {
    margin-right: auto;
  }
}

@mixin make-bounds
{
  @include make-bounds-left;
  @include make-bounds-right;
}
