/**
 * Loop through a map check if breakpoint exists in grid, else use px/rem value
 *
 * @params $breakpoint
 * @requires respond-up, $grid-breakpoints
 */
@mixin respond-up($breakpoint)
{
  @if map-has-key($grid-breakpoints, $breakpoint) {
    @include media-breakpoint-up($breakpoint) {
      @content;
    }
  }
  @else {
    @media (min-width: $breakpoint) {
      @content;
    }
  }
}

@mixin respond-down($breakpoint)
{
  @if map-has-key($grid-breakpoints, $breakpoint) {
    @include media-breakpoint-down($breakpoint) {
      @content;
    }
  }
  @else {
    @media (max-width: $breakpoint) {
      @content;
    }
  }
}
