/**
 * Loop through a map and output each class
 *
 * @params $grid-breakpoints
 * @requires Bootstrap 4
 * @link https://github.com/twbs/bootstrap/blob/v4-dev/scss/utilities/_visibility.scss
 */
@each $breakpoint in map-keys($grid-breakpoints) {
  .hidden-#{$breakpoint}-up {
    @include media-breakpoint-up($breakpoint) {
      display: none !important;
    }
  }
  .hidden-#{$breakpoint}-down {
    @include media-breakpoint-down($breakpoint) {
      display: none !important;
    }
  }
}
